.contactForm {
  padding: 20px;
  border: solid 1px black;
  width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
}
.formItem {
  display: flex;
  flex-direction: column;
}
.formInput {
  margin: 5px 0 10px 0;
  width: 200px;
}
.btn {
  cursor: pointer;
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: rgb(78, 205, 255);
  box-shadow: 8px 8px 12px 0px rgba(66, 68, 90, 1);
}

.btn:hover {
  background-color: rgb(59, 156, 194);
}
