.list {
  list-style: none;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 500px;
}

.btn {
  cursor: pointer;
  color: rgb(201, 58, 58);
}

.btn:hover {
  transform: scale(115%);
}
